{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@app-devextreme-override-style" : "src/assets/css/thm-style.scss",
          "@app-thm-style" : "src/assets/css/thm-style.scss"
        }
      }
    ]
  ]
}
