@import './variables/variables-style.scss';

.dx-theme-material-typography .dx-swatch-additional,
.dx-theme-material-typography.dx-swatch-additional {
  background-color: #363640;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto,RobotoFallback,"Noto Kufi Arabic",Helvetica,Arial,sans-serif;
  line-height: 1.2857;
}

.with-footer > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content {
    height: 100%;
    
    > .dx-scrollview-content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

// toolbar
.dx-toolbar .dx-toolbar-items-container {
  height: 56px;
  overflow: visible;
}

// button
.dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard) {
  border-radius: 50%;
  box-shadow: none;
}

// mobile
.dx-device-mobile .dx-toolbar .dx-toolbar-items-container {
  height: 56px;
  overflow: visible;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .dx-link, .dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
  background-color: $base-fainter-color;
  color: black;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-row-lines) > td, .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-row-lines) > tr:first-child > td {
  border-top: none;
  border-bottom: none;
}

.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
  background-color: $base-fainter2-color;
  color: white;
}

.dx-datagrid-headers {
  color: black;
  background-color: #fafafafa;
}

.dx-card {
  border-radius: 8px;
}
