@import '~src/assets/css/variables/variables-style.scss';

.room-details-page {
    width: 100%;
    height: 100%;
    padding-top: 2% !important;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .room-title {
        font-size: 2.0em;
        text-align: center;
        color: $base-color;
    }

    .room-container {
        position: relative;
        height: 92%;
        box-shadow: 0 0 10px #f1f1f1;
        padding: 5px 20px 30px 20px;
        border-radius: 5px;
        margin-top: 20px;
        max-height: calc(100vh - 144px);
        background-color: #fafafafa;

        .room-content {
            height: 95%;
        }

        .room-action {
            height: 5%;
            padding: 9px 0;
        }
    }
}